@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root  {
    --background: 119 10% 95%;
    --foreground: 119 5% 0%;
    --card: 119 10% 90%;
    --card-foreground: 119 5% 10%;
    --popover: 119 10% 95%;
    --popover-foreground: 119 95% 0%;
    --primary: 119 49% 25%;
    --primary-foreground: 0 0% 100%;
    --secondary: 119 10% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 81 10% 85%;
    --muted-foreground: 119 5% 35%;
    --accent: 81 10% 80%;
    --accent-foreground: 119 5% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 119 5% 90%;
    --border: 119 20% 50%;
    --input: 119 20% 18%;
    --ring: 119 49% 25%;
    --radius: 0rem;
  }
  .dark  {
    --background: 119 10% 5%;
    --foreground: 119 5% 90%;
    --card: 119 10% 0%;
    --card-foreground: 119 5% 90%;
    --popover: 119 10% 5%;
    --popover-foreground: 119 5% 90%;
    --primary: 119 44% 32%;
    --primary-foreground: 0 0% 100%;
    --secondary: 119 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 81 10% 15%;
    --muted-foreground: 119 5% 60%;
    --accent: 81 10% 15%;
    --accent-foreground: 119 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 119 5% 90%;
    --border: 119 20% 18%;
    --input: 119 20% 18%;
    --ring: 119 44% 32%;
    --radius: 0rem;
  }
}

@layer base {

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}